.TF {
	text-align: center;
}

.projpro {
	text-align: center;
}

.CPM {
	text-align: center;
	font-size: 22px;
	color: #000000;
	font-weight: bold;
}

body {
	background-color: #FFFFF0;
	padding: 10em;
	color: #191970;
}

ul li {
	list-style-type: circle;
}
